---
layout: default
title: Posts
description: "Riparuk Archive adalah sebuah website yang diperuntukkan bagi saya sendiri sebagai arsipan yang mungkin akan saya butuhkan kembali di masa mendatang mulai dari hal-hal yang simpel seperti cara instalasi, configurasi, dan tips dan trik lainnya yang sekiranya akan saya gunakan kembali, jadi saya rangkung dengan bahasa saya sendiri yang menurut saya mudah dipahami di website Riparuk Archive ini"
---

{% include searchFilter.html %}

<div class="container mt-3">
  <h6>All Posts</h6>
  <ul class="light-accent-font">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
  <!-- Di grup by Year -->
      <li class="h6 mt-3 mb-1 text-dark" style="list-style: none;" id="y{{currentdate}}"><b>{{ currentdate }}</b></li>
      {% assign date = currentdate %} 
      {% endif %}
      {% include listPost.html %}
    {% endfor %}
  </ul>
</div>
