<script>
    const filterList = document.querySelector("#filter-list");
    const filterSearch = document.querySelector("#filter-search");
    const filters = document.querySelectorAll(".filter");
  
    filterSearch.addEventListener("input", function() {
      const searchTerm = filterSearch.value.toLowerCase();
      if (searchTerm.length > 0) {
        filterList.style.display = "block";
      } else {
        filterList.style.display = "none";
      }
      filters.forEach(filter => {
        const filterText = filter.textContent.toLowerCase();
        if (filterText.includes(searchTerm)) {
          filter.style.display = "block";
        } else {
          filter.style.display = "none";
        }
      });
    });
  </script>
  