<div>
    <div class="input-group bg-dark text-light rounded-top">
      <div class="input-group-prepend">

        <span class="input-group-text bg-dark border-0 text-light" ><b>grep ></b></span>
      </div>
    <input class="form-control border-0 bg-dark text-light" style="outline: none; box-shadow: none;" id="filter-search" type="text" placeholder="Cari disini">
    </div>

    <div class="bg-dark rounded-bottom">
        <ul class="list-group" id="filter-list" style="display:none; list-style: none;">
            {% for post in site.posts %}
              <li >
                <a class="ml-2 text-info" href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
        </ul>
    </div>
</div>