<div>
  {% include batasdalam.html %}
    <div class="input-group rounded-top bg-light">
      <div class="input-group-prepend">

        <span class="input-group-text border-0 bg-light" ><b>grep ></b></span>
      </div>
    <input class="form-control border-0 bg-light text-dark" style="outline: none; box-shadow: none;" id="filter-search" type="text" placeholder="Cari disini">
    </div>

    <div class="rounded-bottom bg-light">
        <ul class="list-group" id="filter-list" style="display:none; list-style: none; font-size: large;">
            {% for post in site.posts %}
              <li class="filter">
                <a class="h6 ml-2 main-color-font" href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
  const filterList = document.querySelector("#filter-list");
  const filterSearch = document.querySelector("#filter-search");
  const filters = document.querySelectorAll(".filter");

  filterSearch.addEventListener("input", function() {
    const searchTerm = filterSearch.value.toLowerCase();
    if (searchTerm.length > 0) {
      filterList.style.display = "block";
    } else {
      filterList.style.display = "none";
    }
    filters.forEach(filter => {
      const filterText = filter.textContent.toLowerCase();
      if (filterText.includes(searchTerm)) {
        filter.style.display = "block";
      } else {
        filter.style.display = "none";
      }
    });
  });
</script>
