.desc {
    display: none;
  }
  
  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
  
  .my-custom-margin {
    margin-bottom: 5rem;
  }

.light-shades {
    background-color: #DEF2EF;
}

.light-shades-font {
    color: #DEF2EF;
}

.light-accent {
    background-color: #447B74;
}

.light-accent-font {
    color: #447B74;
}

.bg-main-color {
    background-color: #232831;
}
.main-color {
    background-color: #4C566A;
}
.main-color-font {
    color: #232831;
}
pre {
    background-color: #232831;
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
}

.dark-accent {
    background-color: #9E5548;
}

.dark-accent-font {
    color: #9E5548;
}

.dark-shades {
    background-color: #3F5B54;
}

.dark-shades {
    background-color: #3F5B54;
}

a.main-color-font:hover {
    color: #4C566A;
}

.bg-white{
    background-color: white;
}

a.none:hover {
    color: white;
    text-decoration: none;
}

.doa-awal p {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

// for image size
@media only screen and (min-width: 992px) {
    .myimg {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 992px) {
    .myimg {
        width: 100%;
        border-radius: 5px;
    }
}