<!doctype html>
<html lang="en">
  {% include head.html %}
  {% include script.html %}
  
  <body class="prevent-select bg-light" style="font-family: 'Poppins'; font-size: 22px; ">
  <!-- Div untuk judul setiap page -->
  <div class="container rounded mb-6 bg-white border ">
    {% include batasdalam.html %}
    <div class="main-color rounded">
      <div class="container text-light rounded-top bg-dark">
        <h1 style="text-align: center;">
          <a class="text-light none" href="/"><b>Riparuk Archive</b></a>
        </h1>
      </div>
    
      <div class="container rounded-bottom bg-white ">
          {{ content }}
        </div>
    </div>
  
  </div>
  <!-- End Div untuk judul setiap pages -->

  <!-- Batas untuk navbar -->
  <div class="my-custom-margin"></div>

  </body>
</html>